repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.5
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: gen_sensors
        name: Generate sensor docs
        entry: uv run scripts/gen_sensors.py
        language: system
        pass_filenames: false

      - id: pyproject-fmt
        name: pyproject-fmt
        entry: uv run pyproject-fmt pyproject.toml
        language: system
        pass_filenames: false

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --exit-non-zero-on-fix
        language: system
        pass_filenames: false

      - id: codespell
        name: codespell
        entry: uv run codespell --toml pyproject.toml
        language: system
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy . --config-file pyproject.toml
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
