/*
:root {
    --vp-c-brand: #106bb6;
    --vp-c-brand-light: #4e60c7;
    --vp-home-hero-name-color:
  }
*/
:root {
--vp-c-green: #0d6efd;
--vp-c-green-light: #6cb2eb;
--vp-c-green-lighter: #aed2f1;
--vp-c-green-dark: #0c4b9b;
--vp-c-green-darker: #03254c;
--vp-c-green-dimm-1: rgba(13, 110, 253, 0.05);
--vp-c-green-dimm-2: rgba(13, 110, 253, 0.2);
--vp-c-green-dimm-3: rgba(13, 110, 253, 0.5);
}





/* .bigt table {
  border-collapse: collapse;
  width: 100%;
} */

/* .bigt th, .bigt td {
  padding: 10px;
  border: 1px solid #ccc;
} */

.bigt table {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

.bigt thead th {
  position: sticky;
  top: 60px;
  z-index: 1;
}

.bigt td {
  font-size: 12px;
  padding: 4px;
  text-align: center;
}

.bigt td:first-child {
  font-size: 14px;
  padding-left: 8px;
  text-align: left;
}